<!DOCTYPE html>
  <head>
    <title>Munch</title>
    <link href="/rss" rel="alternate" type="application/rss+xml">
    <link rel="stylesheet" href="/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/base.css" type="text/css" media="screen">
  </head>
  <body>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>

